.racing_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #141a46;
    color: #c2c2c2;
    height: 100%;
}

.racing_red_text {
    color: #ec8b5e;
}

.a_racing {
    color: inherit;
    text-decoration: none;
}

.a_racing:hover {
    color: #ec8b5e;
    text-decoration: none;
    transition: 0.8s;
}





.ts_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #4a274f;
    color: #c2c2c2;
    height: 100%;
}

.ts_red_text {
    color: #f0a07c;
}

.a_ts {
    color: inherit;
    text-decoration: none;
}

.a_ts:hover {
    color: #f0a07c;
    text-decoration: none;
    transition: 0.8s;
}







.competitive_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #2b3252;
    color: #c2c2c2;
    height: 100%;
}

.competitive_red_text {
    color: #ef5455;
}

.a_competitive {
    color: inherit;
    text-decoration: none;
}

.a_competitive:hover {
    color: #ef5455;
    text-decoration: none;
    transition: 0.8s;
}











.sbfighting_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #3c1a5b;
    color: #c2c2c2;
    height: 100%;
}

.sbfighting_red_text {
    color: #fff748;
}

.a_sbfighting {
    color: inherit;
    text-decoration: none;
}

.a_sbfighting:hover {
    color: #fff748;
    text-decoration: none;
    transition: 0.8s;
}