.racing_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #3d155f;
    color: #c2c2c2;
    height: 100%;
}

.racing_red_text {
    color: #df678c;
}

.a_racing {
    color: inherit;
    text-decoration: none;
}

.a_racing:hover {
    color: #df678c;
    text-decoration: none;
    transition: 0.8s;
}





.ts_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #3d155f;
    color: #c2c2c2;
    height: 100%;
}

.ts_red_text {
    color: #df678c;
}

.a_ts {
    color: inherit;
    text-decoration: none;
}

.a_ts:hover {
    color: #df678c;
    text-decoration: none;
    transition: 0.8s;
}







.competitive_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #3d155f;
    color: #c2c2c2;
    height: 100%;
}

.competitive_red_text {
    color: #df678c;
}

.a_competitive {
    color: inherit;
    text-decoration: none;
}

.a_competitive:hover {
    color: #df678c;
    text-decoration: none;
    transition: 0.8s;
}











.sbfighting_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #3d155f;
    color: #c2c2c2;
    height: 100%;
}

.sbfighting_red_text {
    color: #df678c;
}

.a_sbfighting {
    color: inherit;
    text-decoration: none;
}

.a_sbfighting:hover {
    color: #df678c;
    text-decoration: none;
    transition: 0.8s;
}