h2 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.3rem;
}

p {
    font-size: 1.1rem;
}


.fighting_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #261a73;
    color: #c2c2c2;
    height: 100%;
}

.fighting_red_text {
    color: #ccf381;
}

.a_fighting {
    color: inherit;
    text-decoration: none;
}

.a_fighting:hover {
    color: #ccf381;
    text-decoration: none;
    transition: 0.8s;
}








.shooter_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #292826;
    color: #c2c2c2;
    height: 100%;
}

.shooter_red_text {
    color: #f9d342;
}

.a_shooter {
    color: inherit;
    text-decoration: none;
}

.a_shooter:hover {
    color: #f9d342;
    text-decoration: none;
    transition: 0.8s;
}










.platformer_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #a63f42;
    color: #c2c2c2;
    height: 100%;
}

.platformer_red_text {
    color: #fce77d;
}

.a_platformer {
    color: inherit;
    text-decoration: none;
}

.a_platformer:hover {
    color: #fce77d;
    text-decoration: none;
    transition: 0.8s;
}












.stealth_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #3d155f;
    color: #c2c2c2;
    height: 100%;
}

.stealth_red_text {
    color: #df678c;
}

.a_stealth {
    color: inherit;
    text-decoration: none;
}

.a_stealth:hover {
    color: #df678c;
    text-decoration: none;
    transition: 0.8s;
}











.survival_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #4a274f;
    color: #c2c2c2;
    height: 100%;
}

.survival_red_text {
    color: #f0a06c;
}

.a_survival {
    color: inherit;
    text-decoration: none;
}

.a_survival:hover {
    color: #f0a06c;
    text-decoration: none;
    transition: 0.8s;
}








.beat_em_up_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #2b3252;
    color: #c2c2c2;
    height: 100%;
}

.beat_em_up_red_text {
    color: #ef5455;
}

.a_beat_em_up {
    color: inherit;
    text-decoration: none;
}

.a_beat_em_up:hover {
    color: #ef5455;
    text-decoration: none;
    transition: 0.8s;
}

