.fighting_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #450000;
    color: #c2c2c2;
    height: 100%;
}

.fighting_red_text {
    color: #bd0000;
}

.a_fighting {
    color: inherit;
    text-decoration: none;
}

.a_fighting:hover {
    color: #bd0000;
    text-decoration: none;
    transition: 0.8s;
}








.shooter_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #361600;
    color: #c2c2c2;
    height: 100%;
}

.shooter_red_text {
    color: #bf4d00;
}

.a_shooter {
    color: inherit;
    text-decoration: none;
}

.a_shooter:hover {
    color: #bf4d00;
    text-decoration: none;
    transition: 0.8s;
}
