.text_adventures_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #295f2d;
    color: #c2c2c2;
    height: 100%;
}

.text_adventures_red_text {
    color: #ffe67c;
}

.a_text_adventures {
    color: inherit;
    text-decoration: none;
}

.a_text_adventures:hover {
    color: #ffe67c;
    text-decoration: none;
    transition: 0.8s;
}







.graphic_adventures_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #243665;
    color: #c2c2c2;
    height: 100%;
}

.graphic_adventures_red_text {
    color: #8bd8bd;
}

.a_graphic_adventures {
    color: inherit;
    text-decoration: none;
}

.a_graphic_adventures:hover {
    color: #8bd8bd;
    text-decoration: none;
    transition: 0.8s;
}










.visual_novels_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #141a46;
    color: #c2c2c2;
    height: 100%;
}

.visual_novels_red_text {
    color: #ec8b5e;
}

.a_visual_novels {
    color: inherit;
    text-decoration: none;
}

.a_visual_novels:hover {
    color: #ec8b5e;
    text-decoration: none;
    transition: 0.8s;
}













.interactive_movies_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #080a52;
    color: #c2c2c2;
    height: 100%;
}

.interactive_movies_red_text {
    color: #eb2188;
}

.a_interactive_movies {
    color: inherit;
    text-decoration: none;
}

.a_interactive_movies:hover {
    color: #eb2188;
    text-decoration: none;
    transition: 0.8s;
}