.trivia_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #141a46;
    color: #c2c2c2;
    height: 100%;
}

.trivia_red_text {
    color: #ec8b5e;
}

.a_trivia {
    color: inherit;
    text-decoration: none;
}

.a_trivia:hover {
    color: #ec8b5e;
    text-decoration: none;
    transition: 0.8s;
}








.logic_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #141a46;
    color: #c2c2c2;
    height: 100%;
}

.logic_red_text {
    color: #ec8b5e;
    text-align: center;
}

.a_logic {
    color: inherit;
    text-decoration: none;
}

.a_logic:hover {
    color: #ec8b5e;
    text-decoration: none;
    transition: 0.8s;
}

.logic_description {
    text-align: center;
}

.logic_col {
    text-align: center;
}