.life_simulation_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #a63f42;
    color: #c2c2c2;
    height: 100%;
}

.life_simulation_red_text {
    color: #fce77d;
    text-align: center;
}

.a_life_simulation {
    color: inherit;
    text-decoration: none;
}

.a_life_simulation:hover {
    color: #fce77d;
    text-decoration: none;
    transition: 0.8s;
}

.life_simulation_description {
    text-align: center;
}

.life_simulation_col {
    text-align: center;
}







.cm_simulation_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #243665;
    color: #c2c2c2;
    height: 100%;
}

.cm_simulation_red_text {
    color: #8bd8bd;
}

.a_cm_simulation {
    color: inherit;
    text-decoration: none;
}

.a_cm_simulation:hover {
    color: #8bd8bd;
    text-decoration: none;
    transition: 0.8s;
}











.vehicle_simulation_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #141a46;
    color: #c2c2c2;
    height: 100%;
}

.vehicle_simulation_red_text {
    color: #ec8b5e;
}

.a_vehicle_simulation {
    color: inherit;
    text-decoration: none;
}

.a_vehicle_simulation:hover {
    color: #ec8b5e;
    text-decoration: none;
    transition: 0.8s;
}