.four_x_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #243665;
    color: #c2c2c2;
    height: 100%;
}

.four_x_red_text {
    color: #8bd8bd;
}

.a_four_x {
    color: inherit;
    text-decoration: none;
}

.a_four_x:hover {
    color: #8bd8bd;
    text-decoration: none;
    transition: 0.8s;
}







.artillery_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #243665;
    color: #c2c2c2;
    height: 100%;
}

.artillery_red_text {
    color: #8bd8bd;
}

.a_artillery {
    color: inherit;
    text-decoration: none;
}

.a_artillery:hover {
    color: #8bd8bd;
    text-decoration: none;
    transition: 0.8s;
}











.rts_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #243665;
    color: #c2c2c2;
    height: 100%;
}

.rts_red_text {
    color: #8bd8bd;
}

.a_rts {
    color: inherit;
    text-decoration: none;
}

.a_rts:hover {
    color: #8bd8bd;
    text-decoration: none;
    transition: 0.8s;
}














.rtt_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #243665;
    color: #c2c2c2;
    height: 100%;
}

.rtt_red_text {
    color: #8bd8bd;
}

.a_rtt {
    color: inherit;
    text-decoration: none;
}

.a_rtt:hover {
    color: #8bd8bd;
    text-decoration: none;
    transition: 0.8s;
}















.moba_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #243665;
    color: #c2c2c2;
    height: 100%;
}

.moba_red_text {
    color: #8bd8bd;
}

.a_moba {
    color: inherit;
    text-decoration: none;
}

.a_moba:hover {
    color: #8bd8bd;
    text-decoration: none;
    transition: 0.8s;
}















.td_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #243665;
    color: #c2c2c2;
    height: 100%;
}

.td_red_text {
    color: #8bd8bd;
}

.a_td {
    color: inherit;
    text-decoration: none;
}

.a_td:hover {
    color: #8bd8bd;
    text-decoration: none;
    transition: 0.8s;
}
















.tbs_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #243665;
    color: #c2c2c2;
    height: 100%;
}

.tbs_red_text {
    color: #8bd8bd;
}

.a_tbs {
    color: inherit;
    text-decoration: none;
}

.a_tbs:hover {
    color: #8bd8bd;
    text-decoration: none;
    transition: 0.8s;
}
















.tbt_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #243665;
    color: #c2c2c2;
    height: 100%;
}

.tbt_red_text {
    color: #8bd8bd;
}

.a_tbt {
    color: inherit;
    text-decoration: none;
}

.a_tbt:hover {
    color: #8bd8bd;
    text-decoration: none;
    transition: 0.8s;
}











.gsw_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #243665;
    color: #c2c2c2;
    height: 100%;
}

.gsw_red_text {
    color: #8bd8bd;
}

.a_gsw {
    color: inherit;
    text-decoration: none;
}

.a_gsw:hover {
    color: #8bd8bd;
    text-decoration: none;
    transition: 0.8s;
}









.wargame_div {
    padding-left: 6vw;
    padding-top: 2vw;
    padding-right: 6vw;
    padding-bottom: 2vw;
    background-color: #243665;
    color: #c2c2c2;
    height: 100%;
}

.wargame_red_text {
    color: #8bd8bd;
}

.a_wargame {
    color: inherit;
    text-decoration: none;
}

.a_wargame:hover {
    color: #8bd8bd;
    text-decoration: none;
    transition: 0.8s;
}