.four_x_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #3d155f;
    color: #c2c2c2;
    height: 100%;
}

.four_x_red_text {
    color: #df678c;
}

.a_four_x {
    color: inherit;
    text-decoration: none;
}

.a_four_x:hover {
    color: #df678c;
    text-decoration: none;
    transition: 0.8s;
}







.artillery_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #b67c61;
    color: #c2c2c2;
    height: 100%;
}

.artillery_red_text {
    color: #4a274f;
}

.a_artillery {
    color: inherit;
    text-decoration: none;
}

.a_artillery:hover {
    color: #4a274f;
    text-decoration: none;
    transition: 0.8s;
}











.rts_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #b94141;
    color: #c2c2c2;
    height: 100%;
}

.rts_red_text {
    color: #2b3252;
}

.a_rts {
    color: inherit;
    text-decoration: none;
}

.a_rts:hover {
    color: #2b3252;
    text-decoration: none;
    transition: 0.8s;
}














.rtt_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #2b3252;
    color: #c2c2c2;
    height: 100%;
}

.rtt_red_text {
    color: #fad744;
}

.a_rtt {
    color: inherit;
    text-decoration: none;
}

.a_rtt:hover {
    color: #fad744;
    text-decoration: none;
    transition: 0.8s;
}















.moba_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #214b23;
    color: #c2c2c2;
    height: 100%;
}

.moba_red_text {
    color: #ffe67c;
}

.a_moba {
    color: inherit;
    text-decoration: none;
}

.a_moba:hover {
    color: #ffe67c;
    text-decoration: none;
    transition: 0.8s;
}















.td_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #ac3829;
    color: #c2c2c2;
    height: 100%;
}

.td_red_text {
    color: #1d1b1b;
}

.a_td {
    color: inherit;
    text-decoration: none;
}

.a_td:hover {
    color: #1d1b1b;
    text-decoration: none;
    transition: 0.8s;
}
















.tbs_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #161b21;
    color: #c2c2c2;
    height: 100%;
}

.tbs_red_text {
    color: #f4a950;
}

.a_tbs {
    color: inherit;
    text-decoration: none;
}

.a_tbs:hover {
    color: #f4a950;
    text-decoration: none;
    transition: 0.8s;
}
















.tbt_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #a51a62;
    color: #c2c2c2;
    height: 100%;
}

.tbt_red_text {
    color: #080a52;
}

.a_tbt {
    color: inherit;
    text-decoration: none;
}

.a_tbt:hover {
    color: #080a52;
    text-decoration: none;
    transition: 0.8s;
}











.wargame_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #798f4f;
    color: #c2c2c2;
    height: 100%;
}

.wargame_red_text {
    color: #4831d4;
}

.a_wargame {
    color: inherit;
    text-decoration: none;
}

.a_wargame:hover {
    color: #4831d4;
    text-decoration: none;
    transition: 0.8s;
}









.gsw_div {
    padding-left: 4vw;
    padding-top: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    background-color: #292826;
    color: #c2c2c2;
    height: 100%;
}

.gsw_red_text {
    color: #f9d342;
}

.a_gsw {
    color: inherit;
    text-decoration: none;
}

.a_gsw:hover {
    color: #f9d342;
    text-decoration: none;
    transition: 0.8s;
}