body {
  width: 100%;
  margin: 0;
  /* font-family: 'Montserrat', sans-serif;  */
  font-family: 'Kanit', sans-serif;
  /* font-family: 'Permanent Marker', cursive; */
  /* font-family: 'Alata', sans-serif; */
  /* font-family: 'Bebas Neue', cursive; */
  color: #c2c2c2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#252525;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.arrow_btn, .arrow_btn:active, .arrow_btn:focus {
  background-color: #383838;
  border: none;
  outline: #383838;
}

.heading_text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 50px;
  color: #c2c2c2;
}

.describe_text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: #c2c2c2;
}

.social_buttons {
  display: flex;
  justify-content: center;
}

.in_button {
  margin-right: 1%;
}

.git_button {
  margin-left: 1%;
  
}

.genre_title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0px;
  font-size: 25px;
  background-color: #383838;
  border-bottom: #c2c2c2 0px solid;
}

.genre_splitter {
  display: none;
  background-color: #c2c2c2;
  color: #c2c2c2;
  margin-top: 0%;
  margin-bottom: 0%;
  width: 0%;
}